body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
}
#chat-container {
    border: 2px solid orange;
    border-radius: 10px;
    background-color: #fff;
}
.betting-container .card {
    border: 2px solid orange;
    border-radius: 10px;
    background-color: #fff;
}
.betting-container h4 {
    color: #333;
}
.team-name {
    color: green;
    font-weight: bold;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
#chat-messages {
    height: 17.82rem;
    overflow-y: auto;
}
#chat-messages p {
    margin-bottom: 0.3rem;
}
@media (max-width: 600px) {
    .container {
        padding: 6px;
    }
    #chat-container {
        padding: 6px;
    }
    .betting-container .card {
        padding: 4px;
    }
    h4 {
        font-size: 1rem;
    }
    p, .btn-link {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
    .d-flex.justify-content-between {
        flex-wrap: wrap;
    }
    #user-input {
        max-width: 60% !important;
    }
    .btn-sm {
        font-size: 0.75rem;
        padding: 4px 8px;
    }
    #chat-messages p {
        margin-bottom: 0.2rem;
    }
    .betting-container .card p:not(.fw-semibold) {
        margin-left: 0 !important; /* Left-justify second row */
    }
}